.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:#f8f9fa;
  border: 1px solid #f8f9fa;
}

.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}
.input-output{
  padding: 0px !important;
}
.footer-ibm {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000;
  border: 1px solid #000;
  text-align: right;
  margin-top: 50px;
}
.footer-text {
  font-weight: 600;
  color: #fff;
}
.footer-ibm a{
  color: #d461a6;
  text-decoration: none;
}
.footer-ibm a:hover{
  color: #fff;
}
.ibm-title {
  margin-bottom: 10px;
  font-size: 45px;
}
h3 {
  font-size: 22px;
  font-weight: 600;
}
.sintetizar {
  width: 100%;
  height: 50px;
  line-height: 15px;
  margin-top: 10px;
}
#resetSpan a {
  text-decoration: none;
  color: #fff;
}
#resetSpan {
  background: #A50062;
}
#resetSpan:hover {
  background: #000;
  border: 1px solid #000;
  color: #A50062 !important;
}
body,
.win *{
  font-family: 'Open Sans', sans-serif;
}
#input-form, #output-form {
  background-color: #A50062;
  border: 2px solid #A50062;
  border-radius: 7px;
  box-shadow: 4px 3px 8px rgb(0 0 0 / 30%);
}
.text-subtitle {
  margin-bottom: 10px;
}
#output-form .text-subtitle {
  margin-bottom: 15px;
}
#home2 {
  cursor: not-allowed;
}
#Sintetizar {
  background: #000;
  border: 1px solid #000;
  color: #fff;
}
#Sintetizar:hover {
  background: #A50062;
  border: 1px solid #A50062;
}
#dropdownMenuInput, #dropdownMenuOutput {
  border-radius: 7px;
  padding: 10px;
}
#dropdownMenuInput, #dropdownMenuOutput {
  border-radius: 7px;
  padding: 10px;
  margin-top: 5px;
  background-color: #000;
  color: #fff;
  border-color: #000;
}